@{
    ViewBag.Title = "Second Page Employee";
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script src="https://use.fontawesome.com/d4a8770686.js"></script>
<div class="container">
    <ul class="list-group">
        <li class="list-group-item">
            Your <strong class="label label-info">ViewBag</strong> Value is : <strong>@ViewBag.EmployeeNameVB</strong>
        </li>
        <li class="list-group-item">
            Your <strong class="label label-danger">ViewData</strong> Value is : <strong>@ViewData["EmployeeNameVD"]</strong>
        </li>
        <li class="list-group-item">
            Your <strong class="label label-primary">TempData</strong> Value is : <strong>@TempData["EmployeeNameTD"]</strong>&nbsp;<span class="label label-success">This value use TempData.Keep</span>
        </li>
    </ul>
    <div class="row">
        <div class="modal-footer">
            <a href="/Employee/Employee/" class="btn btn-default pull-left"><i class="fa fa-arrow-circle-left"></i>&nbsp;Back</a>
        </div>
    </div>
</div>

