@{
    ViewBag.Title = "Index";
    //We dont need Layout
    Layout = null;
}

<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script src="https://use.fontawesome.com/d4a8770686.js"></script>
<div class="container">
    <div class="row">
        @if (ViewBag.Data != null)
        {
            <table class="table table-striped">
                <tr>
                    <th>@ViewBag.NameUser</th>
                </tr>
                <tbody>
                    @foreach (var item in ViewBag.Data)
                    {
                        <tr>
                            <td>@item</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <div class="alert alert-danger @ViewBag.ErrorCss">
                <button type="button" class="close" data-dismiss="alert">Close</button>
                @ViewBag.Error
            </div>
        }
        <div class="row">
            <a href="/Employee/Employee" class="btn btn-primary"><i class="fa fa-users"></i>&nbsp;Employee</a>
        </div>
    </div>
</div>